<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
        <link rel="stylesheet" href="index.css">
        <title>Awato Graph Project</title>
    </head>
    <body>
        <div id="loadingIndicator" class="loading-indicator">
            <h2>Loading Data...</h2>
            <div class="loading-animation"></div>
        </div>
        <div ng-app="chartApp" ng-controller="chartController" class="hidden" id="appContainer">
            <div>
                <!-- buttons to switch graph shown -->
                <div class="graph-btns">
                    <button ng-click="updateToLine()" class="graph-btn line-btn active-btn" id="lineBtn">Value Lost by Airline</button><!--
                    --><button ng-click="updateToBar()" class="graph-btn bar-btn" id="barBtn">Number of Claims by Airport</button>
                </div> 
            </div>
    
            <div class="options-area">
                <!-- Options for graph view -->
                <!-- if line graph -->
                <form id="lineOptions" ng-submit="updateToLine()">
                    <label for="">Airline: </label>
                    <select ng-model="selectedAirline" ng-options="x for x in dataBin.airlineList">
                    </select>

                    <label for=""> Start Date: </label>
                    <select ng-model="startDate" ng-options="x for x in months"></select>

                    <label for=""> End Date: </label>
                    <select ng-model="endDate" ng-options="x for x in months"></select>
              
                    <input class="submit-btn" type="submit">
                </form>

                <form id="barOptions" class="hidden" ng-submit="updateToBar()">
                    <label for="">Airport: </label>
                    <select ng-model="selectedAirport" ng-options="x for x in dataBin.airportList">
                    </select>

                    <label for="">Start Date: </label>
                    <select ng-model="startDate" ng-options="x for x in months"></select>

                    <label for="">End Date: </label>
                    <select ng-model="endDate" ng-options="x for x in months"></select>

                    <input class="submit-btn" type="submit">
                </form>
            </div>
    
            <div class="graph-container">
                <!-- should hold the graph itself -->
                <p class="y-axis-label" id="yAxisLabel">Value of Lost Claims</p>
                <canvas id="graph" class="chart-base graph" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-type="type" chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
            </div>
    
            <div id="labelHolder" class="label-holder">
                <!-- should hold summary of graph data -->
                <h1 id="airlineLabel" class="chart-label">{{selectedAirline}}</h1>
                <h1 id="airportLabel" class="hidden chart-label">{{selectedAirport}}</h1>
            </div>
        </div>
        <script src="node_modules/xlsx/dist/xlsx.full.min.js"></script>
        
        <script src="index.js"></script>
        
    </body>
</html>