.hidden {
    display: none;
}

.graph-btns {
    width: 40%;
    height: 50px;
    margin: 10px auto;
}

.graph-btn {
    height: 50px;
    width: 49%;
    border: none;
}

.graph-btn:hover {
    background: rgb(65, 64, 64);
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.line-btn {
    border-radius: 5px 0 0 5px;
}

.bar-btn {
    border-radius: 0 5px 5px 0;
}

.active-btn {
    background: rgb(65, 64, 64);
    color: white;
}

.options-area {
    margin: 15px;
    margin: auto;
    width: 60%;
}

.submit-btn {
    display: inline-block;
    
    margin: auto;
}

.graph-container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    height: auto;
}

.chart-label {
    text-align: center;
  
}