body {
    text-align: center;
    height: 80%;
}

.hidden {
    display: none;
}

.graph-btns {
    width: 40%;
    height: 50px;
    margin: 10px auto;
}

.graph-btn {
    height: 50px;
    width: 49%;
    border: none;
}

.graph-btn:hover {
    background: rgb(65, 64, 64);
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.line-btn {
    border-radius: 5px 0 0 5px;
}

.bar-btn {
    border-radius: 0 5px 5px 0;
}

.active-btn {
    background: rgb(65, 64, 64);
    color: white;
}

.options-area {
    display: inline-block;
    margin: auto;
}

.submit-btn {
    display: inline-block;
    
    margin: auto;
}

.graph-container {
    width: 65%;
    margin: auto;
    margin-top: 20px;
    height: auto;
}

.chart-label {
    margin: 0 auto;
    text-align: center;
}

.y-axis-label {
    float: left;
}

/*loading animation*/
.loading-animation {
    display: inline-block;
    margin: auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 9px solid #5ea4d3; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}